/* Utilities */
/* Margins */
.m-0 {
    margin: 0;
}
.m-1 {
    margin: 1rem;
}
.m-2 {
    margin: 1.5rem;
}
.m-3 {
    margin: 2rem;
}
.m-4 {
    margin: 3rem;
}
.m-5 {
    margin: 4rem;
}

.mx-1 {
    margin: 0 1rem;
}
.mx-2 {
    margin: 10.5rem;
}
.mx-3 {
    margin: 0 2rem;
}
.mx-4 {
    margin: 0 3rem;
}
.mx-5 {
    margin: 0 4rem;
}

.my-1 {
    margin: 1rem 0;
}
.my-2 {
    margin: 1.5rem 0;
}
.my-3 {
    margin: 2rem 0;
}
.my-4 {
    margin: 3rem 0;
}
.my-5 {
    margin: 4rem 0;
}

/*  */

/* paddings */
.p-1 {
    padding: 1rem;
}
.p-2 {
    padding: 1.5rem;
}
.p-3 {
    padding: 2rem;
}
.p-4 {
    padding: 3rem;
}
.p-5 {
    padding: 4rem;
}

.px-1 {
    padding: 0 1rem;
}
.px-2 {
    padding: 10.5rem;
}
.px-3 {
    padding: 0 2rem;
}
.px-4 {
    padding: 0 3rem;
}
.px-5 {
    padding: 0 4rem;
}

.py-1 {
    padding: 1rem 0;
}
.py-2 {
    padding: 1.5rem 0;
}
.py-3 {
    padding: 2rem 0;
}
.py-4 {
    padding: 3rem 0;
}
.py-5 {
    padding: 4rem 0;
}

/* Text colors */
.text-primary {
    color: var(--primary-color);
}

.text-secondary {
    color: var(--secondary-color);
}

.text-dark {
    color: var(--dark-color);
}

.text-light {
    color: var(--light-color);
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 auto;
}

.card {
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
}
.text-center {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 8px 20px;
    margin-top: 30px;
    background-color: var(--primary-color);
    border: 0;
    border-radius: 5px;
    color: #fff;
}

.btn-outline {
    background-color: transparent;
    border: 1px solid #fff;
}

.btn:hover {
    transform: scale(0.98);
}

/* Fonts */
.lead {
    font-size: 20px;
}

.sm {
    font-size: 1rem;
}

.fm {
    font-size: 1.7rem;
}

.md {
    font-size: 2rem;
}

.lg {
    font-size: 3rem;
}
.xl {
    font-size: 4rem;
}

/* background colours and coloured buttons */
.bg-primary,
.btn-primary {
    background-color: var(--primary-color);
    color: #fff;
}

.bg-secondary,
.btn-secondary {
    background-color: var(--secondary-color);
    color: #fff;
}

.bg-dark,
.btn-dark {
    background-color: var(--dark-color);
    color: #fff;
}

.bg-light,
.btn-light {
    background-color: var(--light-color);
    color: #0f0f0f;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

/* Alert */
.alert {
    background-color: var(--light-color);
    padding: 10px 20px;
    font-weight: bold;
    margin: 15px 0;
}

.alert i {
    margin-right: 10px;
}

.alert-success {
    background-color: var(--success-color);
    color: #fff;
}

.alert-error {
    background-color: var(--error-color);
    color: #fff;
}
